# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Environment
.env
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Log files
*.log

# Notebook outputs
*.out
